.login-block{
    color: #fff;
    height: 3rem;
    border-radius: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 32, 34);
    align-items: center;
    max-width: 20rem;
  }
  .profile{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background-color: rgb(22, 6, 235);
  }
  .username{
    padding-inline: 2rem;
  }
  .logout{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    height: 3rem;
    width: 5rem;
    border: 2px rgb(22, 6, 235) solid;
    color: #fff;
    background-color: rgba(57, 57, 59, 0);
    cursor: pointer;
    text-decoration: none;
  }
  body{
     background-color: rgb(11, 11, 15);
  }
  header{
    display: flex;
    justify-content: end;
    padding: 1rem;
}